In [1]:
# ==========================================
# PYTHON CONTROL STATEMENTS PRACTICE
# if, elif, else, loops, break, continue, ternary
# ==========================================

In [4]:
# Q1.
# Take an integer input `n`.
# Print "Weird" if:
#   - n is odd
#   - OR n is even and between 6 and 20 (inclusive)
# Otherwise print "Not Weird".
# (Do NOT write redundant conditions.)
n = int(input())
print('Weird' if(n&1 or 6>=n<=20) else 'not Weird')

15
Weird

In [9]:
# Q2.
# Using a for loop, print all numbers from 1 to 20.
# Skip numbers that are divisible by BOTH 2 and 3.
# Use `continue`.

for i in range(1,21):
  if(i%2==0 and i%3==0):
    continue
  else:
    print(i)

1
2
3
4
5
7
8
9
10
11
13
14
15
16
17
19
20

In [10]:
# Q3.
# Write a while loop that keeps asking the user to enter a number.
# Stop the loop ONLY when the user enters a negative number.
# Print the sum of all positive numbers entered.

sum = 0
while True:
  x = int(input('Enter -ve to stop'))
  if(x<0):
    break;
  sum+=x
print(sum)

Enter -ve to stop14
Enter -ve to stop21
Enter -ve to stop45
Enter -ve to stop16
Enter -ve to stop-1
96

In [15]:
# Q4.
# Given a number `n`,
# Print a right-angled triangle of stars (*) with `n` rows.
# Example for n = 4:
# *
# **
# ***
# ****

for i in range(4):
  print('*'*(i+1))

*
**
***
****

In [16]:
# Q5.
# Write a program that checks whether a given number is prime.
# Use a loop and `break`.
# Do NOT use flags like is_prime = True.

x = int(input('enter nmber to check prime: '))
for i in range(2,x+1):
  if x%i==0:
    print('not prime')
    break
else:
  print('prime')

enter nmber to check prime: 21
not prime

In [21]:
# Q6.
# Using a for loop and `range`,
# Print all even numbers between 1 and 50.
# Do NOT use if-else inside the loop.

for i in range(2, 51, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [23]:
# Q7.
# Given:
#   nums = [1, 3, 5, 7, 9, 10, 11]
# Traverse the list using a loop.
# Stop printing numbers as soon as you encounter the first even number.
# Use `break`.

nums = [1, 3, 5, 2, 7, 9, 10, 11]
for i in nums:
  if(i%2==0):
    break
  print(i)

1
3
5

In [27]:
# Q8.
# Write a program that prints numbers from 1 to 30.
# For multiples of 3, print "Fizz".
# For multiples of 5, print "Buzz".
# For multiples of both 3 and 5, print "FizzBuzz".
# Otherwise, print the number.
# (Order of conditions mattersâ€”be careful.)

for i in range(1,31):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz", i)
  elif i % 3 == 0:
    print("Fizz", i)
  elif i % 5 == 0:
    print("Buzz", i)

Fizz 3
Buzz 5
Fizz 6
Fizz 9
Buzz 10
Fizz 12
FizzBuzz 15
Fizz 18
Buzz 20
Fizz 21
Fizz 24
Buzz 25
Fizz 27
FizzBuzz 30

In [28]:
# Q9.
# Take an integer `n`.
# Using a ternary operator:
#   - Store "Positive" if n > 0
#   - Store "Negative" if n < 0
#   - Store "Zero" if n == 0
# Print the result.
# (Hint: Nested ternary required.)
n=int(input("Enter a number:"))
result = 'positive' if n>0 else 'negative' if n<0 else 'zero'
print(result)

Enter a number:12
positive