In [1]:
# ==========================================
# PYTHON DICTIONARIES PRACTICE
# keys, values, iteration, mutability
# ==========================================

In [2]:
# Q1.
# Create a dictionary `student` with keys:
#   "name", "age", "marks"
# Assign appropriate values.
# Print each key-value pair in the format:
# key : value
# (Do NOT print the dictionary directly.)

student = {
    'name' : 'jayanth',
    'age' : 24,
    'marks' : 144
}

for k,v in student.items():
  print(f"{k} : {v}")

name : jayanth
age : 24
marks : 144

In [3]:
# Q2.
# Given:
#   data = {"a": 10, "b": 20, "c": 30}
# Increase each value by 5
# WITHOUT creating a new dictionary.
data = {"a": 10, "b": 20, "c": 30}
for k in data:
  data[k] += 5
print(data)

{'a': 15, 'b': 25, 'c': 35}

In [4]:
# Q3.
# Given:
#   marks = {"math": 80, "science": 75, "english": 90}
# Find and print the subject with the highest marks
# WITHOUT using max().
marks = {"math": 80, "science": 75, "english": 90}
max = -1
subject = None
for k in marks:
  if marks[k] > max:
    max = marks[k]
    subject = k
print(f"{subject} : {max}")

english : 90

In [5]:
# Q4.
# Given:
#   info = {"name": "Alex", "city": "Delhi"}
# Add a new key "country" with value "India"
# Update "city" to "Mumbai"
# Remove the key "name"
# Print the final dictionary.
info = {"name": "Alex", "city": "Delhi"}
info['country'] = 'India'
info['city'] = 'Mumbai'
del info['name']
print(info)

{'city': 'Mumbai', 'country': 'India'}

In [10]:
# Q5.
# Given:
#   d = {"x": 1, "y": 2}
# Access the value of key "z"
# Do NOT use try-except.
# Ensure the program does NOT crash.
d = {"x": 1, "y": 2}
print(d.get('z'))

None

In [12]:
# Q6.
# Given:
#   scores = {"A": 90, "B": 85, "C": 88}
# Create two lists:
#   keys_list  → contains all keys
#   values_list → contains all values
# Do NOT use list() directly on the dictionary.
scores = {"A": 90, "B": 85, "C": 88}
keys = list(scores.keys())
vals = list(scores.values())
print(keys, vals)

['A', 'B', 'C'] [90, 85, 88]

In [13]:
# Q7.
# Given:
#   data = {"a": 1, "b": 2, "c": 3}
# Create a new dictionary where keys and values are swapped.
# (Assume all values are unique.)
data = {"a": 1, "b": 2, "c": 3}
new_dict = {v: k for k, v in data.items()}
print(new_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [14]:
# Q8.
# Given:
#   inventory = {"apple": 10, "banana": 5, "orange": 8}
# If "banana" exists:
#   decrease its quantity by 2
# Else:
#   add "banana" with quantity 2
# Print the updated dictionary.
inventory = {"apple": 10, "banana": 5, "orange": 8}
if('banana' in inventory):
  inventory['banana'] -= 2
else:
  inventory['banana'] = 2
print(inventory)

{'apple': 10, 'banana': 3, 'orange': 8}

In [15]:
# Q9.
# Write a program to count the frequency of each character
# in a given string using a dictionary.
# Example:
#   input: "banana"
#   output: {'b': 1, 'a': 3, 'n': 2}

input = "banana"
output = {}
for char in input:
  count = output.get(char, 0)
  output[char] = count + 1
print(output)

{'b': 1, 'a': 3, 'n': 2}

In [17]:
# Q10. (PREDICT BEFORE RUNNING)
# Predict the output:
#
# d1 = {"a": 1, "b": 2}
# d2 = d1
# d2["c"] = 3
# print(d1)
#
# Write your prediction in comments.
# Then explain WHY d1 changed or did not change.

d1 = {"a": 1, "b": 2}
d2 = d1
d2["c"] = 3
print(d1)

{'a': 1, 'b': 2, 'c': 3}