In [1]:
# ==========================================================
# PYTHON FUNCTIONS PRACTICE
# functions, *args, **kwargs, scope, map, filter, reduce
# ==========================================================

In [10]:
# Q1.
# Write a function `add_numbers` that takes any number of arguments
# using *args and returns their sum.
# Call the function with:
#   add_numbers(1, 2, 3)
#   add_numbers(5, 10, 15, 20)
def add_numbers(*args):
  sum = 0
  for i in args:
    sum += i
  return sum
print(add_numbers(1, 2, 3))
print(add_numbers(5, 10, 15, 20))

6
50

In [8]:
# Q2.
# Write a function `student_info` that accepts:
#   - name (required)
#   - age (required)
#   - any number of additional keyword arguments (**kwargs)
# Print the name, age, and all extra details in key : value format.

def student_info(**kwargs):
  for k,v in kwargs.items():
    print(f"{k}:{v}")

student_info(name='jayanth', age=22, school='GSEMS', salary='36,000')

name:jayanth
age:22
school:GSEMS
salary:36,000

In [12]:
# Q3.
# Write a function `multiply` that:
#   - takes two numbers as arguments
#   - returns their product
# Call the function and print the result.
# Then call the function WITHOUT capturing the return value.
# Observe and explain (in comments) what gets printed and why.

def multiply(a,b):
  return a*b
print(multiply(5,3))
multiply(5,3)

15

15

In [14]:
# Q4.
# Given:
#   x = 10
# Write a function that prints the value of x.
# Then write another function that changes the value of x to 20.
# Call both functions and observe the output.
# Explain the behavior using scope rules.

x=10

def printX():
  print(x)
def changeX():
  global x
  x = 20

printX()
changeX()
printX()

10
20

In [19]:
# Q5.
# Write a function `outer` that:
#   - defines a variable `msg = "Hello"`
#   - contains an inner function `inner`
# The inner function should print `msg`.
# Call `outer()` and observe the output.
# Explain why `inner` can access `msg`.
def outer():
    msg = "Hello"
    def inner():
        print(msg)
    inner()

outer()

Hello

In [27]:
# Q6.
# Given:
#   nums = [1, 2, 3, 4, 5, 6]
# Use map() to create a new list containing squares of all numbers.
# Do NOT use loops or list comprehension.

nums = [1, 2, 3, 4, 5, 6]
sq_nums = map(lambda x:x**2,nums)
list(sq_nums)

[1, 4, 9, 16, 25, 36]

In [28]:
# Q7.
# Given:
#   nums = [10, 15, 20, 25, 30]
# Use filter() to create a list of numbers divisible by 10.
# Do NOT use loops.

nums = [10, 15, 20, 25, 30]
divisible_10 = filter(lambda x: x%10 == 0, nums)
list(divisible_10)

[10, 20, 30]

In [31]:
# Q8.
# Given:
#   nums = [1, 2, 3, 4, 5]
# Use reduce() to calculate the product of all elements.
# (Import reduce from functools.)
# Do NOT use loops.
from functools import reduce
nums = [1, 2, 3, 4, 5]
res = reduce(lambda x,y:x*y,nums,1)
res

120

In [33]:
# Q9.
# Write a function `calculator` that accepts:
#   - an operation name as a string ("add", "sub", "mul", "div")
#   - any number of numeric arguments using *args
# Perform the operation on the arguments.
# Handle division by zero properly.

def calculator(operation, *args):
    if not args:
        return 0

    # Initialize result with the first argument
    result = args[0]

    for num in args[1:]:
        if operation == "add":
            result += num
        elif operation == "sub":
            result -= num
        elif operation == "mul":
            result *= num
        elif operation == "div":
            if num == 0:
                return "Error: Division by zero"
            result /= num
        else:
            return "Error: Invalid operation"

    return result

# Examples:
print(calculator("add", 10, 5, 2))
print(calculator("div", 20, 5, 2))
print(calculator("div", 10, 0))

17
2.0
Error: Division by zero

In [37]:
# Q10. (PREDICT BEFORE RUNNING)
# Predict the output:
#
# def func(a, b=10, *args, **kwargs):
#     print(a)
#     print(b)
#     print(args)
#     print(kwargs)
#
# func(1, 2, 3, 4, x=5, y=6)
#
# Write your prediction in comments.
# Then run and explain how Python assigns values to parameters.

def func(a, b=10, *args, **kwargs):
    print(a)
    print(b)
    print(args)
    print(kwargs)

func(1, 2, 3, 4, x=5, y=6)

1
2
(3, 4)
{'x': 5, 'y': 6}