In [1]:
# ==========================================
# PYTHON SETS PRACTICE
# uniqueness, operations, iteration, mutability
# ==========================================

In [2]:
# Q1.
# Create a set `nums` containing numbers from 1 to 5.
# Add the number 3 again to the set.
# Print the set and explain (in comments) why the output looks like it does.
nums = set(range(1,6))
print(nums)
nums.add(3)
print('after adding 3', nums)

{1, 2, 3, 4, 5}
after adding 3 {1, 2, 3, 4, 5}

In [3]:
# Q2.
# Given:
#   nums = {1, 2, 3, 4, 5, 6}
# Create a new set `even_nums` containing only even numbers
# WITHOUT using set comprehension.
nums = {1, 2, 3, 4, 5, 6}
even_nums = set()
for i in nums:
  if(i%2==0):
    even_nums.add(i)
print(even_nums)

{2, 4, 6}

In [4]:
# Q3.
# Given two sets:
#   A = {1, 2, 3, 4}
#   B = {3, 4, 5, 6}
# Print:
#   1) Union of A and B
#   2) Intersection of A and B
#   3) Elements present in A but not in B

A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A|B)
print(A&B)
print(A-B)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [8]:
# Q4.
# Given:
#   s = {10, 20, 30, 40}
# Remove the element 30
# Do NOT use discard().
# What happens if the element does not exist?
s = {10, 20, 30, 40}
s.remove(30)
#if element is not present throws error
print(s)

{40, 10, 20}

In [10]:
# Q5.
# Given:
#   nums = {1, 2, 3}
# Try to add a list [4, 5] to the set.
# Observe the error and explain (in comments) WHY this happens.
nums = {1, 2, 3}
# nums.add([4, 5])
#add will only takes value not iterable
nums.update([4, 5])
print(nums)

{1, 2, 3, 4, 5}

In [13]:
# Q6.
# Given:
#   nums = {1, 2, 3, 4, 5}
# Remove all elements greater than 3
# WITHOUT creating a new set.
nums = {1, 2, 3, 4, 5}
nums = {x for x in nums if x <= 3}
print(nums)

{1, 2, 3}

In [14]:
# Q7.
# Given:
#   s = {1, 2, 3, 4}
# Check whether 3 is present in the set.
# If present, print "Found"
# Else, print "Not Found"
s = {1, 2, 3, 4}
if(3 in s):
  print("Found")
else:
  print("Not Found")

Found

In [15]:
# Q8.
# Given:
#   nums = {1, 2, 3, 4}
# Convert the set into a list
# Sort the list in descending order
# Print the final list.
nums = {1, 2, 3, 4}
nums = list(nums)
nums.sort(reverse=True)
print(nums)

[4, 3, 2, 1]

In [16]:
# Q9.
# Write a program to find the common characters between
# two strings using sets.
# Example:
#   s1 = "hello"
#   s2 = "world"
# Output should be a set of common characters.
s1 = "hello"
s2 = "world"
s1 = set(s1)
s2 = set(s2)
print(s1 & s2)

{'o', 'l'}

In [18]:
# Q10. (PREDICT BEFORE RUNNING)
# Predict the output:
#
# s = set()
# s.add(1)
# s.add(1.0)
# s.add(True)
# print(s)
#
# Write your prediction in comments.
# Then run and explain WHY the output is what it is.
s = set()
s.add(1)
s.add(1.0)
s.add(True)
print(s)
# in Python (1==1.0==True).

{1}